In [249]:
import pandas as pd

In [250]:
Ireland = pd.read_csv('Ireland.csv')
Ireland.head()

,Statistic Label,Month,Airports in Ireland,Country,Direction,Flight Type,UNIT,VALUE
0,Passengers,2013M01,All main airports,All Countries,All directions,All flights,Thousand,1398.7
1,Passengers,2013M01,All main airports,All Countries,All directions,Scheduled,Thousand,1372.4
2,Passengers,2013M01,All main airports,All Countries,All directions,Unscheduled,Thousand,26.3
3,Passengers,2013M01,All main airports,All Countries,Arrival,All flights,Thousand,687.1
4,Passengers,2013M01,All main airports,All Countries,Arrival,Scheduled,Thousand,674.0

In [251]:
Finland = pd.read_csv('Finland.csv', encoding='latin-1')
Finland.head()

,Month,Reporting airport,Type of flight,Arrival/departure,Total Number of passengers,"Total Freight and mail total, tonne","Total Number of passengers, cumulative from the beginning of the year","Total Freight and mail, cumulative from the beginning of the year, tonnes",Helsinki-Vantaa Number of passengers,"Helsinki-Vantaa Freight and mail total, tonne","Helsinki-Vantaa Number of passengers, cumulative from the beginning of the year","Helsinki-Vantaa Freight and mail, cumulative from the beginning of the year, tonnes",Other domestic airports Number of passengers,"Other domestic airports Freight and mail total, tonne","Other domestic airports Number of passengers, cumulative from the beginning of the year","Other domestic airports Freight and mail, cumulative from the beginning of the year, tonnes",International Number of passengers,"International Freight and mail total, tonne","International Number of passengers, cumulative from the beginning of the year","International Freight and mail, cumulative from the beginning of the year, tonnes"
0,2019M01,Total,Total,Arrivals/departures total,1969169,16265,1969169,16265,276932,55,276932,55,279130,177,279130,177,1413107,16033,1413107,16033
1,2019M01,Total,Total,Arrivals,984340,7550,984340,7550,129975,41,129975,41,147386,13,147386,13,706979,7495,706979,7495
2,2019M01,Total,Total,Departures,984829,8715,984829,8715,146957,13,146957,13,131744,164,131744,164,706128,8538,706128,8538
3,2019M01,Total,Scheduled flight,Arrivals/departures total,1857115,14743,1857115,14743,276649,55,276649,55,278772,177,278772,177,1301694,14511,1301694,14511
4,2019M01,Total,Scheduled flight,Arrivals,931756,6733,931756,6733,129719,41,129719,41,147185,13,147185,13,654852,6678,654852,6678

In [252]:
unique_values = Ireland['Statistic Label'].unique()
print(unique_values)

['Passengers' 'Freight']

In [253]:
Ireland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783756 entries, 0 to 783755
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Statistic Label      783756 non-null  object
 1   Month                783756 non-null  object
 2   Airports in Ireland  783756 non-null  object
 3   Country              783756 non-null  object
 4   Direction            783756 non-null  object
 5   Flight Type          783756 non-null  object
 6   UNIT                 783756 non-null  object
 7   VALUE                783756 non-null  float64
dtypes: float64(1), object(7)
memory usage: 47.8+ MB

In [254]:
# Create 'Passengers' and 'Freight' columns based on 'Statistic Label'
Ireland['Passengers'] = (Ireland['Statistic Label'] == 'Passengers') * Ireland['VALUE']
Ireland['Freight'] = (Ireland['Statistic Label'] == 'Freight') * Ireland['VALUE']

Ireland.tail()

,Statistic Label,Month,Airports in Ireland,Country,Direction,Flight Type,UNIT,VALUE,Passengers,Freight
783751,Freight,2023M03,Shannon,Oceania and Polar regions (1),Arrival,Scheduled,000 Tonnes,0.0,0.0,0.0
783752,Freight,2023M03,Shannon,Oceania and Polar regions (1),Arrival,Unscheduled,000 Tonnes,0.0,0.0,0.0
783753,Freight,2023M03,Shannon,Oceania and Polar regions (1),Departure,All flights,000 Tonnes,0.0,0.0,0.0
783754,Freight,2023M03,Shannon,Oceania and Polar regions (1),Departure,Scheduled,000 Tonnes,0.0,0.0,0.0
783755,Freight,2023M03,Shannon,Oceania and Polar regions (1),Departure,Unscheduled,000 Tonnes,0.0,0.0,0.0

In [255]:
columns_to_drop = ["Statistic Label",
    "Country", "Direction", "Flight Type", "UNIT", "VALUE", "Type of flight"]

# Ensure column names exist in the DataFrame before dropping
columns_to_drop = [col for col in columns_to_drop if col in Ireland.columns]

# Drop the specified columns
Ireland.drop(columns=columns_to_drop, axis=1, inplace=True)
Ireland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783756 entries, 0 to 783755
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Month                783756 non-null  object
 1   Airports in Ireland  783756 non-null  object
 2   Passengers           783756 non-null  float64
 3   Freight              783756 non-null  float64
dtypes: float64(2), object(2)
memory usage: 23.9+ MB

In [256]:
Ireland_gr=Ireland.groupby(['Month', 'Airports in Ireland']).agg({'Passengers': 'sum', 'Freight': 'sum'}).reset_index()

In [257]:
Ireland_gr= Ireland_gr[Ireland_gr['Airports in Ireland'] != 'All main airports']
Ireland_gr[['Passengers', 'Freight']] *= 1000
Ireland_gr.head()

     Month Airports in Ireland  Passengers   Freight
1  2013M01                Cork   2461600.0     400.0
2  2013M01              Dublin  19657800.0  141900.0
3  2013M01               Kerry    256200.0       0.0
4  2013M01               Knock    634800.0       0.0
5  2013M01             Shannon   1073100.0   20000.0

In [258]:
import re
# Define the pattern to exclude
pattern_to_exclude = re.compile(r'^(201[3-8]|2019M(0[1-9]|1[0-2]))$')

# Use the pattern to filter rows
Ireland_gr_fil = Ireland_gr[~Ireland_gr['Month'].str.match(pattern_to_exclude)]

# Display the result
Ireland_gr_fil

       Month Airports in Ireland  Passengers   Freight
1    2013M01                Cork   2461600.0     400.0
2    2013M01              Dublin  19657800.0  141900.0
3    2013M01               Kerry    256200.0       0.0
4    2013M01               Knock    634800.0       0.0
5    2013M01             Shannon   1073100.0   20000.0
..       ...                 ...         ...       ...
733  2023M03                Cork   3334400.0       0.0
734  2023M03              Dublin  40635100.0  179300.0
735  2023M03               Kerry    459800.0       0.0
736  2023M03               Knock   1004000.0       0.0
737  2023M03             Shannon   2190700.0   22900.0

[555 rows x 4 columns]

In [259]:
columns_to_drop = ["Type of flight",
    "Arrival/departure", "Total Number of passengers, cumulative from the beginning of the year",
    "Total Freight and mail, cumulative from the beginning of the year, tonnes",
    "Helsinki-Vantaa Number of passengers", "Helsinki-Vantaa Freight and mail total, tonne",
    "Helsinki-Vantaa Number of passengers, cumulative from the beginning of the year",
    "Helsinki-Vantaa Freight and mail, cumulative from the beginning of the year, tonnes",
    "Other domestic airports Number of passengers",
    "Other domestic airports Freight and mail total, tonne",
    "Other domestic airports Number of passengers, cumulative from the beginning of the year",
    "Other domestic airports Number of passengers, cumulative from the beginning of the year",
    "Other domestic airports Freight and mail, cumulative from the beginning of the year, tonnes",
    "International Number of passengers",
    "International Freight and mail total, tonne",
    "International Number of passengers, cumulative from the beginning of the year",
    "International Freight and mail, cumulative from the beginning of the year, tonnes"
]

# Ensure column names exist in the DataFrame before dropping
columns_to_drop = [col for col in columns_to_drop if col in Finland.columns]

# Drop the specified columns
Finland.drop(columns=columns_to_drop, axis=1, inplace=True)
Finland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11151 entries, 0 to 11150
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Month                                11151 non-null  object
 1   Reporting airport                    11151 non-null  object
 2   Total Number of passengers           11151 non-null  int64
 3   Total Freight and mail total, tonne  11151 non-null  int64
dtypes: int64(2), object(2)
memory usage: 348.6+ KB

In [260]:
Finland = Finland[Finland['Reporting airport'] != 'Total']
Finland

,Month,Reporting airport,Total Number of passengers,"Total Freight and mail total, tonne"
9,2019M01,Helsinki-Vantaa,1574950,15841
10,2019M01,Helsinki-Vantaa,798402,7322
11,2019M01,Helsinki-Vantaa,776548,8518
12,2019M01,Helsinki-Vantaa,1525370,14328
13,2019M01,Helsinki-Vantaa,774769,6509
...,...,...,...,...
11146,2023M11,Vaasa,5721,0
11147,2023M11,Vaasa,5784,0
11148,2023M11,Vaasa,2735,0
11149,2023M11,Vaasa,1358,0
11150,2023M11,Vaasa,1377,0

In [261]:
Finland.rename(columns={"Reporting airport": "Airports in Finland", "Total Number of passengers":"Passengers Finland","Total Freight and mail total, tonne":"Freight Finland" }, inplace=True)

In [262]:
Finland_gr=Finland.groupby(['Month', 'Airports in Finland']).agg({'Passengers Finland': 'sum', 'Freight Finland': 'sum'}).reset_index()

In [263]:
Finland_gr.head()

     Month Airports in Finland  Passengers Finland  Freight Finland
0  2019M01           Enontekiö                7076                0
1  2019M01     Helsinki-Vantaa             6299800            63361
2  2019M01               Ivalo              136644                0
3  2019M01             Joensuu               35368                8
4  2019M01           Jyväskylä               17200                4

In [267]:

# Define the pattern to exclude
pattern_to_exclude = re.compile(r'^2023M(0[4-9]|1[0-1])$')

# Use the pattern to filter rows
Finland_gr_fil = Finland_gr[~Finland_gr['Month'].str.match(pattern_to_exclude)]

# Display the result
Finland_gr_fil

        Month Airports in Finland  Passengers Finland  Freight Finland
0     2019M01           Enontekiö                7076                0
1     2019M01     Helsinki-Vantaa             6299800            63361
2     2019M01               Ivalo              136644                0
3     2019M01             Joensuu               35368                8
4     2019M01           Jyväskylä               17200                4
...       ...                 ...                 ...              ...
1015  2023M03           Rovaniemi              326800               24
1016  2023M03          Savonlinna                 624                0
1017  2023M03    Tampere-Pirkkala               60796               56
1018  2023M03               Turku               76452             1576
1019  2023M03               Vaasa               47532                0

[1020 rows x 4 columns]

In [268]:
merged_data = pd.merge(Finland_gr, Ireland_gr, on=["Month"], how="right")

In [269]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5460 entries, 0 to 5459
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month                5460 non-null   object
 1   Airports in Finland  5100 non-null   object
 2   Passengers Finland   5100 non-null   float64
 3   Freight Finland      5100 non-null   float64
 4   Airports in Ireland  5460 non-null   object
 5   Passengers           5460 non-null   float64
 6   Freight              5460 non-null   float64
dtypes: float64(4), object(3)
memory usage: 298.7+ KB

In [270]:
merged_data.head()

,Month,Airports in Finland,Passengers Finland,Freight Finland,Airports in Ireland,Passengers,Freight
0,2013M01,NaN,NaN,NaN,Cork,2461600.0,400.0
1,2013M01,NaN,NaN,NaN,Dublin,19657800.0,141900.0
2,2013M01,NaN,NaN,NaN,Kerry,256200.0,0.0
3,2013M01,NaN,NaN,NaN,Knock,634800.0,0.0
4,2013M01,NaN,NaN,NaN,Shannon,1073100.0,20000.0

In [271]:
merged_data['Month'] = pd.to_datetime(merged_data['Month'], format='%YM%m')

# Specify the date range
start_date = '2019M01'
end_date = '2023M03'

# Convert start_date and end_date to datetime objects
start_date = pd.to_datetime(start_date, format='%YM%m')
end_date = pd.to_datetime(end_date, format='%YM%m')

# Filter rows within the specified date range
filtered_data = merged_data[merged_data['Month'].between(start_date, end_date)]
filtered_data

,Month,Airports in Finland,Passengers Finland,Freight Finland,Airports in Ireland,Passengers,Freight
360,2019-01-01,Enontekiö,7076.0,0.0,Cork,2762800.0,0.0
361,2019-01-01,Helsinki-Vantaa,6299800.0,63361.0,Cork,2762800.0,0.0
362,2019-01-01,Ivalo,136644.0,0.0,Cork,2762800.0,0.0
363,2019-01-01,Joensuu,35368.0,8.0,Cork,2762800.0,0.0
364,2019-01-01,Jyväskylä,17200.0,4.0,Cork,2762800.0,0.0
...,...,...,...,...,...,...,...
5455,2023-03-01,Rovaniemi,326800.0,24.0,Shannon,2190700.0,22900.0
5456,2023-03-01,Savonlinna,624.0,0.0,Shannon,2190700.0,22900.0
5457,2023-03-01,Tampere-Pirkkala,60796.0,56.0,Shannon,2190700.0,22900.0
5458,2023-03-01,Turku,76452.0,1576.0,Shannon,2190700.0,22900.0
5459,2023-03-01,Vaasa,47532.0,0.0,Shannon,2190700.0,22900.0

In [272]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5100 entries, 360 to 5459
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month                5100 non-null   datetime64[ns]
 1   Airports in Finland  5100 non-null   object
 2   Passengers Finland   5100 non-null   float64
 3   Freight Finland      5100 non-null   float64
 4   Airports in Ireland  5100 non-null   object
 5   Passengers           5100 non-null   float64
 6   Freight              5100 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 318.8+ KB